.hljs {
  display: block;
  overflow-x: auto;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
    color:#0184bc;
}

.hljs,
.hljs-subst {
    color:#383a42;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #50a14f;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color:#a0a1a7;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
  color:#a626a4;
}

.hljs-emphasis {
  font-style: italic;
}
